body {
    background-color: white;
    font-family: 'Nunito', sans-serif!important;
    color: #31363a;
    line-height: 1.4;
}

footer {
  background-color: rgb(248, 248, 248);
  border-bottom: 1px solid #e8e8e8;
}

ul li {
  list-style: none;
  float: left;
}

a, a:active, a:hover, a:link, a:visited {
  text-decoration: none!important;
  outline: none;
  cursor: pointer;
}

.header-left {
  margin-top: 30px;
  margin-bottom: 20px;
  float: left;
}

.header-right {
  float: right;
  max-width: 485px;
}

.favorite-icon {
  background-image: url(https://cdn-mgsm.akinon.net/static_omnishop/coco29/dist/3226cd6a607fabea17917d5f5ea229d7.png);
  background-position: -37px -181px;
  width: 17px;
  height: 17px;
  display: inline-block;
  vertical-align: top;
}

.user-icon {
  background-image: url(https://cdn-mgsm.akinon.net/static_omnishop/coco29/dist/3226cd6a607fabea17917d5f5ea229d7.png);
  background-position: -37px -181px;
  width: 17px;
  height: 17px;
  display: inline-block;
  vertical-align: top;
}

.basket-icon {
  background-image: url(https://cdn-mgsm.akinon.net/static_omnishop/coco29/dist/c6531ea02ee330a24a672840110c61bf.svg);
  background-position: top;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;

}

.ribbon{
    background-color: #e4e4e4;
    padding: 7px;
    font-size: 14px;
    color: #5e5b5b;
    min-height: 42px;
    box-sizing: border-box;
    display: block;
}

.ribbon-item {
  margin: 5px 5px 0px 0px;
  padding-left: 5px;
}

.header {
  box-shadow: 0px 0px 4px 1px rgb(151, 146, 151);
}

.list-info {
  float: left;
  font-size: 12px;
  font-weight: 600;
}

.clear {
    clear: both;
}

.wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.logo-img {
  max-width: 280px;
}

.logo-items {
  padding-left: 15px;
  display: block;
  max-width: 280px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
  transform: translateY(-2px) translateX(3px);
}

.user-panel a {
  font-size: 14px;
  font-weight: 600;
  color: #31363a;
}

.user-panel a:hover {
  color: black!important;
}

.user-panel li{
  float: left;
}

.emoticon {
  margin: 5px;
}

form {
  min-height: 39px;
  min-width: 450px;
  border-color: brown;
}

.search-input {
  background-color: rgb(248, 248, 248);
  min-width: 400px;
  padding: 8px;
  border-width: 1px;
  border-color: lightgray;
}

.product-show-image {
    display: inline-block;
    width: 100%;
}

.thumbnail-box {
  border: solid 1px;
  border-color: lightgray;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.thumbnail-box img {
  display: inline;
}

.product-detail-tab {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.store-search {
    display: block;
    float: left;
    font-size: 16;
    text-align: center;
    color: red!important;
    text-decoration: none;
}

.navigation-link {
  font-size: 14px;
  color: #31363a;
  font-weight: 600;
  padding-left: 11px;
  padding-right: 11px;
}

.categories-navigation a:hover {
  color: black!important;
}

.categories-navigation ul li:first-child a{
  margin-left: 0px!important;
}

.navigation-sub-menu {
  position: absolute;
  visibility: hidden;
  padding: 28px;
  border: 1px solid black;
  background: white;
  transition: opacity, max-height, padding .2s;
  z-index: 99999;
}

.navigation-sub-menu-items {
  display: table-cell;
  vertical-align: top;
  white-space: normal;
}

.navigation-sub-menu-item-box {
  display: table-cell!important;
  max-width: 145px;
}

.navigation-sub-menu-item {
  margin-bottom: 20px;
  margin-right: 35px;
  font-weight: 400;
  font-size: 14px;
}

.navigation-sub-menu-item:nth-child(3n+1) {
  clear: both;
}

.nav-menu-title {
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}

.nav-menu-link {
  display: block;
  margin-bottom: 5px;
}

.navigation-sub-menu-item-box a, a:link, a:visited, a:hover a:active {
  cursor: pointer;
  color: inherit;
}

.navigation-sub-menu-img-box {
  display: table-cell;
  width: 283px;
  min-height: 1px;
  white-space: normal;
  vertical-align: top;
}

.list-info {
  margin-top: 15px;
  margin-bottom: 15px;
}
.list-info a {
  color: #5e5b5b;
  font-weight: 700;
}

.list-info a:hover {
  color: black!important;
}

.product-price-box {
  margin: 15px 0 25px;
}

.product-price {
  margin-right: 5%;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  vertical-align: middle;
}

.product-message {
  display: inline-block;
  margin-top: 10px;
}

.product-message span {
  border: 1px solid;
  border-color: #a80000;
  font-size: 14px;
  color: #a80000;
  font-weight: 200;
  padding: 3px 21px;
  margin-top: 12px;
  margin-right: 10px;
}

.product-options-box {
  padding-top: 20px;
  margin-bottom: 2em;
}

.product-hover-box {
  position: absolute;
  width: 225px;
  bottom: 40px;
  height: 198px;
  left: -85px;
  text-align: center;
  background-color: white;
  border: .5px solid #e9e9e9;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  padding: 10px 10px 0;
  color: #83878d;
  box-shadow: 3px 6px 5px -2px rgba(0, 0, 0, .64);
  z-index: 100;
}

.product-size-box .active {
  font-weight: 700;
  color: #31363a;
  border: 2px solid #e9e9e9;
}

.product-hover-box img {
  height: 85%;
}

.options {
  float: left;
}

.product-box-text {
  font-size: 9px;
  display: block;
  line-height: 12px;
}

.product-count {
  float: left;
  margin-right: 15px;
  margin-top: 28px;
}

.product-count-title {
  font-size: 12px;
  margin-bottom: 9px;
}

.product-count-counter {
  zoom: 1;
  padding: 10px;
  border: 1px solid #e9e9e9;
  display: table;
}

#minus-icon, #plus-icon {
  border: 1px solid lightgray;
  background-color: lightgray;
  padding: 2px;
}

.number-box {
  max-height: 50px;
  max-width: 110px;
  padding: 10px;
}

.product-basket-button {
  float: left;
  width: 50%;
  height: 46px;
  max-width: 220px;
  display: block;
  line-height: 46px;
  margin-top: 52px;
  font-size: 16px;
  font-weight: 400;
  color: white!important;
  text-align: center;
  background-color: #a80000;
  overflow: hidden;
}

.basket-fav-icon {
  float: left;
  font-size: 30px;
  height: 46px;
  max-width: 190px;
  display: block;
  line-height: 46px;
  margin-top: 52px;
  margin-left: 15px;
  text-align: center;
  overflow: hidden;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  background-color: white;
  display: inline-block;
  color: #e8e8e8;
  font-size: 14px;
  font-weight: 700;
  border: solid 1px #e8e8e8;
}

.panels {
  background-color: rgb(248, 248, 248);
  border: solid 1px #e8e8e8;
  min-height: 200px;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  font-size: 14px;
}

.panel {
  display: none;
  animation: fadein .1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.radio {
  display: none;
}

#radio-one:checked ~.panels #panel-one,
#radio-two:checked ~.panels #panel-two,
#radio-three:checked ~.panels #panel-three{
  display: block;
}

#radio-one:checked ~ .tabs #tab-one,
#radio-two:checked ~ .tabs #tab-two,
#radio-three:checked ~ .tabs #tab-three {
  background-color: rgb(248, 248, 248);
  color: black;
}

.bottom-info {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e9e9e9;
  background-color: white;
}

.bottom-navigator {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid #e9e9e9;
  font-size: 15px;
}

.bottom-info-item-inner img {
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 30px;
}

.bottom-info-item-inner {
  color: #31363a;
  font-weight: 700;
  display: inline-block;
}

.bottom-info-item-inner p {
  margin-right: 20px;
}

.bottom-info-items {
  margin-left: -15px;
  margin-right: -15px;
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

.bottom-info-item:first-child {
  display: table-cell;
  border-right: 1px solid #e8e8e8;
  float: none;
}

.bottom-info-item:nth-child(2) {
  display: table-cell;
  border-right: 1px solid #e8e8e8;
  float: none;
}

.bottom-info-item:last-of-type {
  display: table-cell;
  float: none;
}

.bottom-navigator li {
  display: table-cell;
}

.menu-title {
  margin-bottom: 5px;
}

.menu-items { 
  font-weight: 200;
  color: #8a8a8a;
  padding: 0;
  display: block;
}

.menu-items-link {
  width: 100%;
  display: block!important;
  margin-bottom: 5px;
}

.menu-items-link a:hover {
  color: black!important;
}

.subscribe-input {
  border: none;
  padding: 10px;
  margin-right: 10px;
}

.subscribe-button {
  border: none;
  padding: 10px;
  background-color: #a80000;
  color: white;
}

.copyright-box {
  padding: 20px 40px 20px 40px;
  font-weight: 200;
  font-size: 14px;
  color: #8a8a8a;

}
.callcenter {
  float: right;
}

.call-icon {
  background-image: url(https://cdn-mgsm.akinon.net/static_omnishop/coco29/dist/3226cd6a607fabea17917d5f5ea229d7.png);
  background-position: -122px -55px;
  width: 36px;
  height: 36px;
  float: left;
  margin-right: 10px;
  margin-top: 4px;
}

.fb-icon {
  background-image: url(https://cdn-mgsm.akinon.net/static_omnishop/coco29/dist/3226cd6a607fabea17917d5f5ea229d7.png);
  background-position: -205px -88px;
  width: 9px;
  height: 18px;
  margin: 9px;
  margin-left: 12px;
}

.ins-icon {
  background-image: url(https://cdn-mgsm.akinon.net/static_omnishop/coco29/dist/3226cd6a607fabea17917d5f5ea229d7.png);
  background-position: -86px -181px;
  width: 16px;
  height: 16px;
  margin: 9px;
}

.twt-icon {
  background-image: url(https://cdn-mgsm.akinon.net/static_omnishop/coco29/dist/3226cd6a607fabea17917d5f5ea229d7.png);
  background-position: -64px -161px;
  width: 23px;
  height: 15px;
  margin: 8px;
}

.pin-icon {
  background-image: url(https://cdn-mgsm.akinon.net/static_omnishop/coco29/dist/3226cd6a607fabea17917d5f5ea229d7.png);
  background-position: -118px -181px;
  width: 16px;
  height: 16px;
  margin: 9px;
}

.yt-icon {
  background-image: url(https://cdn-mgsm.akinon.net/static_omnishop/coco29/dist/3226cd6a607fabea17917d5f5ea229d7.png);
  background-position: -54px -181px;
  width: 16px;
  height: 16px;
  margin: 9px;
}

.lnkin-icon {
  background-image: url(https://cdn-mgsm.akinon.net/static_omnishop/coco29/dist/3226cd6a607fabea17917d5f5ea229d7.png);
  background-position: -134px -181px;
  width: 16px;
  height: 16px;
  margin: 9px;
}

.social-media-list {
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-media-item {
  float: left;
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background-color: #fff;
}

.app-link img{
  margin-top: 20px;
}

.call-number {
  font-size: 30px; 
  line-height: 1; 
  color: black; 
  font-weight: 200;
}

.call-context {
  float: left;
}